.bar-div {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--hg-color);
}
.bar-text {
    font-family: var(--font-display);
    font-weight: lighter;
    color: white;
    border-radius: 25px;
    font-size: 32px;
    text-decoration: overline;
    text-decoration-color: white;
    
}
.title {
    text-decoration: underline;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    text-decoration-color: white;
}