.event-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.event {
    display: flex;
    flex-direction: column;
    padding: 10px;
    object-fit: cover;
    /* background-color: red; */
    width: 400px;

    background-color: var(--hg-color);
    border-radius: 25px;
}
.article-info {
    font-family: var(--font-serif);
    display: flex;
    gap: 5px;
    flex-direction: column;
    line-height: 1.5rem;
    color: white;
    border-radius: 25px;
    padding: 14px;
    background-color: var(--hg-color);
    /* background-color: red; */
}
.info-title {
    font-family: var(--font-serif);
    font-size: 24px;
}
.info-date {
    font-family: var(--font-serif);
    font-size: 16px;
    font-weight: lighter;
}
.info-local {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: var(--font-serif);
    font-size: 12px;
    margin-left: auto;
}
.info-price {
    background-color: transparent;
    border: 1px solid white;
    color: var(--hg-color);
    background-color: white;
    border-radius: 25px;
    padding: 24px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    fill: var(--hg-color);
    color: var(--hg-color);
    cursor: pointer;
    
}
.info-price:hover {
    background-color: var(--hg-color);
    color: white;
    fill: white;
}
.info-more {
    display: flex;
    align-items: center;
}
.info-price {
    display: flex;
    width: 100%;
}
.price {
    font-family: var(--font-serif);
    gap: 2px;
    font-family: var(--font-serif);
    margin-left: auto;
}
